@use "../utils/variables"as v;

#search-form form {
    display: flex;
    align-items: center;

     input {
         max-width: 300px;
         border-radius: 0.25rem 0 0 0.25rem;
         box-shadow: none;
     }

     button {
         border-radius: 0 0.25rem 0.25rem 0;
         background: v.$secondary;
         border: 1px solid v.$secondary;
         box-shadow: none;
     }
}