:root {
  --primary: #1d262d;
  --secondary: #9bacbb;
  --hover-text: #5a646e;
  --warning: #d11e0d;
}

.loaded-gifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.error-loading-gifs {
  font-size: 1.5rem;
  color: var(--warning);
}
